<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AdditionImgPath" value="C:\Users\dsfds\AdvantaTesting\Advanta\Resourse\Addition.jpg"/>
        <add key="DivisionImagePath" value="C:\Users\dsfds\AdvantaTesting\Advanta\Resourse\Division.jpg"/>
        <add key="SubtractionImgPath" value="C:\Users\dsfds\AdvantaTesting\Advanta\Resourse\Subtraction.png"/>
        <add key="MultiplicationImgPath" value="C:\Users\dsfds\AdvantaTesting\Advanta\Resourse\Multiplication.png"/>
	</appSettings>
</configuration>